* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: "Audiowide", sans-serif;
 	letter-spacing: 0.1em;

}

p {
	font-family: "Open Sans Condensed", sans-serif;
}

h1 {
	font-weight: 1000;
}

h2 {
	font-weight: 1000;
	text-shadow: 6px 6px 6px #ababab
}


#anchorParagraph {
	font-family: "Open Sans Condensed", sans-serif;
}

#brandlogo {
	width: 40px;
	height: 40px;
}

#landing {
	height: 90vs;
	background-image: url(https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#selfie {
	height: 200px;
	width: 200px;
	border-radius: 200px; 
}


#gmap_canvas {
	height: 20vh;
	width: 100%;
}

#toolslogo {
	width: 60px;
}
#socialmedialogo {
	width: 50px;
	height: 50px;
}